.custom-card:hover {
  background-color: #f8f9fa; /* Change to the desired background color on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
.custom-card:hover {
  transform: scale(1.1); /* Scale the card on hover */
}
.bg-img{
  background-image: url("../src/images/bgimg.jpg");
}