
.home-page-navbar{
background-color: white;
color: black;
}



body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(75,54,58,1) 55%);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
}
.back-color {
  background-color: aqua;
}
.add-task-btn {
  background-color: blue;
}
.head_h{
  color: white;
  font-size: 45px;
}


.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
